@import "../modules/all";
body {
  font-family: montserratbold, Tahoma, Arial;
}
.clearfix {
  content: '';
  clear: both;
  display: block;
}
.btn {
  border: 2px solid #ff4e50;
  font-weight: bold;
  text-align: center;
  @include border-radius(18px);
  cursor: pointer;
  box-sizing: border-box;
}
